body {
  background-color: #CDC2F5;
  font-family: Helvetica;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}
p {
    font-family: Helvetica;
}

IMG {
  width: 100px;
  height: 90px;
}
